---
layout: base
eleventyNavigation:
  key: Home
  order: 1
permalink: /
---

<div class="hero fade-in">
    <div class="hero__inner">
        <h1 class="hero__title">For client! For everyone!.</h1>
        <p class="hero__pretitle"><a href="/about/">Hello, this world!</a></p>

            <h1 class="hero__content hero__title">
                Passionate in Clean, Cosy and Creative Coding for
                <a href="https://www.codista.com" class="hero__link hero__link--codista">CodingStar</a>.
            </h1>
        <div class="hero__content">
            <p class="hero__pretitle">
                It's my boast that I am a super Developer and to support the best qualities and correct time to the clients with honestly, constant passion is my only pleasure. I am sure our cooperation will be great well.
            </p>
        </div>
    </div>
</div>

{% if collections.featured.length %}
<div class="u-mb4">
    <h2>Featured Posts</h2>
    {% include "featuredposts.njk" %}
</div>
{% endif %}

{# 
<div class="u-mb4">
    {% signup %}
    I'm starting an email list for people interested in front-end development! 
    You can join here to be notified first whenever new posts are published. 
    I'll send emails about once a month and you can unsubscribe any time.
    {% endsignup %}
</div> 
#}